
.markdown-section output:after, .markdown-section pre:after {
    content: '';
}

pre {
    margin : 0px;
}

.markdown-section pre {
    padding: 0;
}

.markdown-section pre>code {
    padding: 2.2em 2.2em;
}

.markdown-section code {
    padding : 1.3em;
}

.markdown-section pre {
    margin: 0em 0;
    position: relative;
}

.markdown-section a {
    color: var(--docsify_markdown_section_a,rgb(236, 45, 91));
}

.sidebar ul li.active>a {
    color: var(--docsify_sidebar_li_active,rgb(236, 45, 91));
}

.github-corner svg {
    fill: #383d41;
}

a {
    text-decoration: none;
}

.top-logo {
	content: var(--docsify_logo);
}